In [1]:
import pandas as pd
import numpy as np

In [2]:
news=pd.read_csv("preprocessed_news.csv")

In [3]:
news.shape

(51282, 9)

In [4]:
news.head()

,itemId,category,subcategory,title,abstract,url,combined,processed,processed2
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,lifestyle lifestyleroyals The Brands Queen Eli...,"['lifestyle', 'lifestyleroyals', 'brand', 'que...",lifestyle lifestyleroyals brand queen elizabet...
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,health weightloss 50 Worst Habits For Belly Fa...,"['health', 'weightloss', 'bad', 'habit', 'bell...",health weightloss bad habit belly fat seemingl...
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,news newsworld The Cost of Trump's Aid Freeze ...,"['news', 'newsworld', 'cost', 'trump', 'aid', ...",news newsworld cost trump aid freeze trench uk...
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,health voices I Was An NBA Wife. Here's How It...,"['health', 'voice', 'nba', 'wife', 'affect', '...",health voice nba wife affect mental health fel...
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"health medical How to Get Rid of Skin Tags, Ac...","['health', 'medical', 'get', 'rid', 'skin', 't...",health medical get rid skin tag accord dermato...

## using BERT to get the embeddings for the news article

In [100]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('paraphrase-MiniLM-L6-v2')

In [102]:
for i in range(len(news)):
    news['processed2'][i]=[news['processed2'][i]]

In [103]:
news.head()

,itemId,category,subcategory,title,abstract,url,combined,processed,processed2
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,lifestyle lifestyleroyals The Brands Queen Eli...,"['lifestyle', 'lifestyleroyals', 'brand', 'que...",[lifestyle lifestyleroyals brand queen elizabe...
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,health weightloss 50 Worst Habits For Belly Fa...,"['health', 'weightloss', 'bad', 'habit', 'bell...",[health weightloss bad habit belly fat seeming...
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,news newsworld The Cost of Trump's Aid Freeze ...,"['news', 'newsworld', 'cost', 'trump', 'aid', ...",[news newsworld cost trump aid freeze trench u...
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,health voices I Was An NBA Wife. Here's How It...,"['health', 'voice', 'nba', 'wife', 'affect', '...",[health voice nba wife affect mental health fe...
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"health medical How to Get Rid of Skin Tags, Ac...","['health', 'medical', 'get', 'rid', 'skin', 't...",[health medical get rid skin tag accord dermat...

In [105]:
arr=[]

In [106]:
for i in range(len(news)):
    arr.append(model.encode(news['processed2'][i]).reshape(-1))

In [108]:
news['encoding']=arr

In [90]:
news.head()

,itemId,category,subcategory,title,abstract,url,combined,processed,processed2,encoding
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,lifestyle lifestyleroyals The Brands Queen Eli...,"['lifestyle', 'lifestyleroyals', 'brand', 'que...",[lifestyle lifestyleroyals brand queen elizabe...,"[0.01861841045320034, 0.8152122497558594, -0.1..."
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,health weightloss 50 Worst Habits For Belly Fa...,"['health', 'weightloss', 'bad', 'habit', 'bell...",[health weightloss bad habit belly fat seeming...,"[0.13574889302253723, 0.14394652843475342, 0.0..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,news newsworld The Cost of Trump's Aid Freeze ...,"['news', 'newsworld', 'cost', 'trump', 'aid', ...",[news newsworld cost trump aid freeze trench u...,"[-0.3246593177318573, 0.2291497141122818, -0.4..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,health voices I Was An NBA Wife. Here's How It...,"['health', 'voice', 'nba', 'wife', 'affect', '...",[health voice nba wife affect mental health fe...,"[0.1289706975221634, -0.28766611218452454, 0.1..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"health medical How to Get Rid of Skin Tags, Ac...","['health', 'medical', 'get', 'rid', 'skin', 't...",[health medical get rid skin tag accord dermat...,"[0.10397473722696304, 0.46625837683677673, 0.0..."

## saving news articles embeddings

In [67]:
news.to_csv('embedding_news.csv',index=False)

In [63]:
news['encoding'][0].shape

(384,)

In [111]:
news.head()

,itemId,category,subcategory,title,abstract,url,combined,processed,processed2,encoding
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,lifestyle lifestyleroyals The Brands Queen Eli...,"['lifestyle', 'lifestyleroyals', 'brand', 'que...",[lifestyle lifestyleroyals brand queen elizabe...,"[0.01861841, 0.81521225, -0.15704978, 0.571517..."
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,health weightloss 50 Worst Habits For Belly Fa...,"['health', 'weightloss', 'bad', 'habit', 'bell...",[health weightloss bad habit belly fat seeming...,"[0.1357489, 0.14394653, 0.03071877, 0.24770543..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,news newsworld The Cost of Trump's Aid Freeze ...,"['news', 'newsworld', 'cost', 'trump', 'aid', ...",[news newsworld cost trump aid freeze trench u...,"[-0.32465932, 0.22914971, -0.42543712, 0.17978..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,health voices I Was An NBA Wife. Here's How It...,"['health', 'voice', 'nba', 'wife', 'affect', '...",[health voice nba wife affect mental health fe...,"[0.1289707, -0.2876661, 0.14315306, 0.02861972..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"health medical How to Get Rid of Skin Tags, Ac...","['health', 'medical', 'get', 'rid', 'skin', 't...",[health medical get rid skin tag accord dermat...,"[0.10397474, 0.46625838, 0.010224406, 0.063777..."

In [112]:
dict ={}
for i in range(len(news)):
    dict[news['itemId'][i]]=news['encoding'][i]

In [113]:
user = pd.read_csv('behaviors.tsv', sep = '\t', names=["impressionId","userId","timestamp","click_history","impressions"])

In [114]:
user.head()

,impressionId,userId,timestamp,click_history,impressions
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [115]:
user.dropna(inplace=True)

In [116]:
user['click_history'].isna().sum()

0

In [117]:
user['history_list']=[sen.split() for sen in user['click_history']]

In [118]:
user.head()

,impressionId,userId,timestamp,click_history,impressions,history_list
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0,"[N55189, N42782, N34694, N45794, N18445, N6330..."
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...,"[N31739, N6072, N63045, N23979, N35656, N43353..."
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...,"[N10732, N25792, N7563, N21087, N41087, N5445,..."
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0,"[N45729, N2203, N871, N53880, N41375, N43142, ..."
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...,"[N10078, N56514, N14904, N33740]"

In [123]:
user_rep=[]

In [124]:
for i in user['history_list']:
    empty=np.zeros(384)
    for j in i:
        empty+=np.array(dict[j])
    if not len(i):
        empty/=len(i)
    user_rep.append(empty)

In [127]:
user['embedding']=user_rep

In [94]:
user.head()

,impressionId,userId,timestamp,click_history,impressions,history_list,embedding
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0,"[N55189, N42782, N34694, N45794, N18445, N6330...","[-0.13703154027462006, 0.3587257243343629, 1.2..."
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...,"[N31739, N6072, N63045, N23979, N35656, N43353...","[-4.366226035694126, 3.1947623882442713, 5.046..."
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...,"[N10732, N25792, N7563, N21087, N41087, N5445,...","[-1.5669379159808159, 2.4289258010685444, 0.74..."
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0,"[N45729, N2203, N871, N53880, N41375, N43142, ...","[-0.3414990156888962, 1.0535633638501167, 1.28..."
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...,"[N10078, N56514, N14904, N33740]","[0.520218763500452, 1.9615793079137802, 0.1675..."

## saving the user embedding file

In [89]:
user.to_csv('user_embedding.csv',index=False)

In [108]:
user.head()

,impressionId,userId,timestamp,click_history,impressions,history_list,embedding
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0,"[N55189, N42782, N34694, N45794, N18445, N6330...","[-0.13703154027462006, 0.3587257243343629, 1.2..."
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...,"[N31739, N6072, N63045, N23979, N35656, N43353...","[-4.366226035694126, 3.1947623882442713, 5.046..."
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...,"[N10732, N25792, N7563, N21087, N41087, N5445,...","[-1.5669379159808159, 2.4289258010685444, 0.74..."
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0,"[N45729, N2203, N871, N53880, N41375, N43142, ...","[-0.3414990156888962, 1.0535633638501167, 1.28..."
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...,"[N10078, N56514, N14904, N33740]","[0.520218763500452, 1.9615793079137802, 0.1675..."